* {
    margin: 0;
    padding: 0;
}

.grid{

    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;

}

#filho1 {
    background-color: aqua;
}

#filho2 {
    background-color: rgb(235, 29, 207);
}

#filho3 {
    background-color: rgb(22, 99, 233);
}

#filho4 {
    background-color: rgb(211, 232, 18);
}

#filho5 {
    background-color: rgb(235, 91, 29);
}
