* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  height: 120px;
  margin-left: 50px;
  position: relative;
  display: flex;
  width: 1440px;
}

a:link {
  text-decoration: none;
}
ul {
  list-style: none;
}

p {
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  z-index: 1;
  display: none;
}

#menu {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 14px;
  list-style: none;

  gap: 60px;

  position: relative;
  right: 3rem;
  top: 3rem;
  left: 67rem;

  justify-content: center;
  display: flex;
}


section {
  width: 1440px;
  align-items: center;
  align-content: center;
}

#capas_01:hover {
  background: url(/imagens/coca_hover.png);
  position: absolute;
  display: block;
  z-index: 1;
}

#capas_01 {
  margin: 50px;
  bottom: 25px;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 50px 25px;
}

#capas_02 {
  margin: 50px;
  bottom: 25px;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 50px 25px;
}

