* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  height: 120px;
  padding-left: 50px;
  position: relative;
  display: flex;
  
}

a:link {
  text-decoration: none;
 
}
ul {
  list-style: none;

}

ul li a {
  color:black;
}

#menu {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 14px;
  list-style: none;

  gap: 35px;

  position: absolute;
  top: 3rem;
  right: 3em;

  justify-content: center;
  display: flex;
}

#menu:hover a {
  font-weight: 800;

}

#bannerhome {
  background-image: url("img_bg_index_2.png");
  height: 920px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.titulo__principal {
  font-size: 38px;
  font-weight: 300;
  color: white;
  letter-spacing: 15px;
  position: relative;
  padding-left: 220px;
  top: 21.5rem;
  bottom: 29rem;
}
.profissao {
  color: aqua;
  text-decoration: none;
  line-height: 50px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-left: 100px;
  margin-top: 50px;
  position: absolute;
  right: 15rem;
  top: 16rem;
  bottom: 20rem;
}

.textobranco {
  color: white;
  padding: 35px 0px;
  font-weight: 300;
  font-size: 38px;
}
